{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
    <!-- Share Buttons -->
    <script type="text/javascript"
            src="//platform-api.sharethis.com/js/sharethis.js#property=59786357e29218001169f76f&product=inline-share-buttons"></script>
    {% load bootstrap3 %}
    {% bootstrap_css %}
    <script src="{% static 'izbrannoe.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
{% endblock %}
{% block content %}


    <div class="main">
        <section class="module-small">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="post">
                            <div class="post-thumbnail"><img src="{{ post.image.url }}"
                                                             alt="Blog Featured Image">
                            </div>
                            <div class="post-header font-alt">
                                <h1 class="post-title">{{ post.title }}</h1>
                                <div class="post-meta">Автору&nbsp;{{ post.user }}| {{ post.created }}| <a
                                        href="#">Photography, </a><a href="#">Web Design</a>
                                </div>
                            </div>
                            <div class="post-entry">
                                <p>{{ post.text|linebreaksbr }}</p>

                            </div>
                            <div data-id="{{ like_obj.id }}" data-type="article" data-action="bookmark"
                                 title="Избранное">
                                <span class="glyphicon glyphicon-star"></span>
                                <span data-count="bookmark">Канча адам избранныйга кошту {{ like_obj.get_bookmark_count }}</span>
                            </div>
                            {% include 'sharethis.html' %}
                        </div>
                        <div class="comments">
                            <div class="comment clearfix">
                                {% for comm in comment %}
                                    <div class="comment-avatar"><img
                                            src="https://s3.amazonaws.com/uifaces/faces/twitter/ryanbattles/128.jpg"
                                            alt="avatar"></div>
                                    <div class="comment-content clearfix">
                                        <div class="comment-author font-alt"><a href="#">{{ comm.user }}</a></div>
                                        <div class="comment-body">
                                            <p>{{ comm.text }}</p>
                                        </div>
                                        <div class="comment-meta font-alt">{{ comm.created }}<a href="#">Reply</a>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="comment-form">
                            <h4 class="comment-form-title font-alt">Комментарийиңизди жазыңыз</h4>

                        </div>
                        <form action="{% url 'addcomment' id=post.id %}" method="post" style="width: 100%">
                            {% csrf_token %}
                            {{ form.errors }}

                            {% bootstrap_form form %}
                            <button class="btn btn-round btn-d" type="submit">
                                Комментировать
                            </button>
                        </form>


                    </div>
                    <div class="col-sm-4 col-md-3 col-md-offset-1 sidebar">
                        <div class="widget">
                            <form role="form">
                                <div class="search-box">
                                    <input class="form-control" type="text" placeholder="издөө...">
                                    <button class="search-btn" type="submit"><i class="fa fa-search"></i></button>
                                </div>
                            </form>
                        </div>
                        <div class="widget">
                            <h5 class="widget-title font-alt">Категориялар</h5>
                            <ul class="icon-list">
                                {% for single in category %}
                                    <li><a href="#">{{ single.name }}</a></li>
                                {% endfor %}

                            </ul>
                        </div>
                        <div class="widget">
                            <h5 class="widget-title font-alt">Эң көп окулгандар</h5>
                            <ul class="widget-posts">
                                <li class="clearfix">
                                    <div class="widget-posts-image"><a href="#"><img src="assets/images/rp-1.jpg"
                                                                                     alt="Post Thumbnail"></a></div>
                                    <div class="widget-posts-body">
                                        <div class="widget-posts-title"><a href="#">Designer Desk Essentials</a></div>
                                        <div class="widget-posts-meta">23 january</div>
                                    </div>
                                </li>
                                <li class="clearfix">
                                    <div class="widget-posts-image"><a href="#"><img src="assets/images/rp-2.jpg"
                                                                                     alt="Post Thumbnail"></a></div>
                                    <div class="widget-posts-body">
                                        <div class="widget-posts-title"><a href="#">Realistic Business Card Mockup</a>
                                        </div>
                                        <div class="widget-posts-meta">15 February</div>
                                    </div>
                                </li>
                                <li class="clearfix">
                                    <div class="widget-posts-image"><a href="#"><img src="assets/images/rp-3.jpg"
                                                                                     alt="Post Thumbnail"></a></div>
                                    <div class="widget-posts-body">
                                        <div class="widget-posts-title"><a href="#">Eco bag Mockup</a></div>
                                        <div class="widget-posts-meta">21 February</div>
                                    </div>
                                </li>
                                <li class="clearfix">
                                    <div class="widget-posts-image"><a href="#"><img src="assets/images/rp-4.jpg"
                                                                                     alt="Post Thumbnail"></a></div>
                                    <div class="widget-posts-body">
                                        <div class="widget-posts-title"><a href="#">Bottle Mockup</a></div>
                                        <div class="widget-posts-meta">2 March</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h5 class="widget-title font-alt">Тегдер</h5>
                            <div class="tags font-serif"><a href="#" rel="tag">Blog</a><a href="#" rel="tag">Photo</a><a
                                    href="#" rel="tag">Video</a><a href="#" rel="tag">Image</a><a href="#" rel="tag">Minimal</a><a
                                    href="#" rel="tag">Post</a><a href="#" rel="tag">Theme</a><a href="#" rel="tag">Ideas</a><a
                                    href="#" rel="tag">Tags</a><a href="#" rel="tag">Bootstrap</a><a href="#" rel="tag">Popular</a><a
                                    href="#" rel="tag">English</a>
                            </div>
                        </div>
                        {#                        <div class="widget">#}
                        {#                            <h5 class="widget-title font-alt">Text</h5>The languages only differ in their grammar, their#}
                        {#                            pronunciation and their most common words. Everyone realizes why a new common language would#}
                        {#                            be desirable: one could refuse to pay expensive translators.#}
                        {#                        </div>#}
                        {#                        <div class="widget">#}
                        {#                            <h5 class="widget-title font-alt">Recent Comments</h5>#}
                        {#                            <ul class="icon-list">#}
                        {#                                <li>Maria on <a href="#">Designer Desk Essentials</a></li>#}
                        {#                                <li>John on <a href="#">Realistic Business Card Mockup</a></li>#}
                        {#                                <li>Andy on <a href="#">Eco bag Mockup</a></li>#}
                        {#                                <li>Jack on <a href="#">Bottle Mockup</a></li>#}
                        {#                                <li>Mark on <a href="#">Our trip to the Alps</a></li>#}
                        {#                            </ul>#}
                        {#                        </div>#}
                    </div>
                </div>
            </div>
        </section>
        <hr class="divider-d">

    </div>


    <hr>
    <hr>
    {#    <p>#}
    {#        {% load disqus_tags %}#}
    {#        {% disqus_dev %}#}
    {#        {% disqus_show_comments %}#}
    {#    </p>#}

{% endblock %}