<head>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'img-hover.css' %}">
    <link rel="stylesheet" href="{% static 'set1.css' %}">
    <link rel="stylesheet" href="{% static 'css/demo.css' %}">
</head>
<style>


</style>
<div class="grid">
    <figure class="effect-oscar">
        <img src="{% static "assets/images/screenshots/main_demo.jpg" %}"/>
        <figcaption>
            <h2>Warm <span>Oscar</span></h2>
            <p>Oscar is a decent man. He used to clean porches with pleasure.</p>
            <a href="#">View more</a>
        </figcaption>
    </figure>
</div>



<div class="grid">

	<figure class="effect-oscar">
		<img src="{% static 'Cities_Kuala_Lumpur_Malaysia.jpg' %}" alt="img01"/>
		<figcaption>
			<h2>Nice <span>Lily</span></h2>
			<p>Lily likes to play with crayons and pencils</p>
			<a href="#">View more</a>
		</figcaption>
	</figure>

	<!-- ... -->

</div>