


<nav class="maian_mnu clearfix navbar-custom" id="navbar">
    <button class="main_mnu_button hidden-md hidden-lg" style="float:right;"><i class="fa fa-bars"></i></button>
    <ul style="display: none" class="navbar-right">
        {% for menu in category %}


        <li class="active"><a href="#">{{ menu.name }}</a></li>
        {% endfor %}
        <li><a href="#">Приложения</a></li>
        <li><a href="#">Портфолио</a></li>
        <li><a href="#">Отзывы</a></li>
    </ul>
    <a class="navbar-brand" href="/" style="letter-spacing: 1px">Пикирл<span style="color: red">е</span>р
        аала<span style="color: red">м</span>ы</a>
</nav>